.map{
    height: "80vh";
    width: "100%";
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
}
#marker{
    background-color: orange;
    color: orange;
}
.leaflet-pane{
    background-color: orange;
    color: orange;
}