#root{
    background-color: #242424; //this color needs to be changed
    .GymPic{
        width: 50vw;
        height: auto;
        @media  (min-width: 770px) {
            max-height: auto;
            width: 50vw;
            padding-top: 15px;
            display: block;
            margin: auto;
        }
    }
    #messageSection{
        height: 120vh;
        margin-top: 5px;
        background-color: #242424;
        display: block;

        @media  (min-width: 1200px) {
           width: fit-content;
        }
    }

    .page{
        @media  (min-width: 1200px) {
            display: block;
            width: 70vw;
            height: auto;
            margin: auto;
        }
    }
}


 #noReviews {
    color: white;
    font-size: 15px;
    margin-top: 10px;
  }
  
  #messageSection {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .commentInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .commentInput {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .addCommentButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .addCommentButton:hover {
    background-color: #0056b3;
  }
  
